.container{
  text-align: center;
  margin-top: 40px;
  color:#fff;
  padding: 30px;
  border-radius: 50%;
}
body{
  background-color: crimson;
}
.grosor{
  width:80px;
  height: 80px;
  text-align: center;
  padding: 10px;
}
/*table{
  color:#fff;
}*/
